@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}
  @theme{
    --color-primary:#fc6c85;
    --color-primary-dull: #e8476a;
}

.no-scrollbar::-webkit-scrollbar{
   display: none;
}